#logo {
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: all .5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: all .5s ease-in-out;
}

#logo:hover {
    -webkit-filter: grayscale(0%);
    -webkit-transition: all .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: all .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: all .5s ease-in-out;
}
